@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #144058;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #123a50;
}
::-webkit-scrollbar-thumb {
  background: #2a6080;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B25690;
}
